html, body {
	font-family: 'Montserrat', sans-serif;
}

h1 { 
	margin-top: 20px;
	font-weight: 400;
	text-align:center;
}

.active {
	font-size: 25px;
}

.center {
	text-align: center;
}

#space > li {
	margin-right: 15px;
}

#chromeExt {
	margin-right: 30px;
}


#formDiv {
	margin-top: 80px;
}

form {
	margin-top: 30px;
}

#routeForm {
	border: solid 2px #E5E5E5; 
    outline: 0;
    width:60%; 
    margin:0 auto;
    text-align:center;
}
#formDiv input {
	width: 100%; 
	background: #f0f0f0;
	border: none;
	font-size: 36px;
	padding: 16px;
	transition: background 2s, color 2s;
	text-align: center;
}

#formDiv input::-webkit-input-placeholder {
   text-align: center;
}

#formDiv input:focus {
	background: #fff;
	box-shadow: none;
	outline: none;
}

#slider {
	margin-top: 130px;
}

button.btn {
	background: transparent;
	padding: 20px 35px;
	color: #00f28f;
	font-size: 36px;
	transition: color .5s, background .5s, font-size .5s;
}

button.btn:hover {
	background: #00f28f;
	color: white;
	padding: 20px 35px;
	font-size: 36px;
}

button.btn:focus {
	background: transparent;
	outline: none;
	padding: 20px 35px;
	color: #00f28f;
	font-size: 36px;
	transition: color .5s, background .5s, font-size .5s;
}


#origin {
	margin-bottom: 30px;
}

#destination {
	margin-bottom: 30px;
}

#departureTime {
	margin-bottom: 30px;
}

#datetime {
	z-index: 8;
}

#maap {
	height: 100%;
}

ng-map {
	width:100%; 
	height:100%; 
}
#weatherDiv {
	height: 50%;
}

#routeDiv {
	height: 50%;
}

#heatmapDiv {

}

#heatmap {
	width: 70%;
	height:auto;
}


#floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto', 'sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }

#warnings-panel {
            width: 100%;
            height: 10%;
            text-align: center;
        }