html, body {
	font-family: Pontano Sans, sans-serif;
}

body {
	background-color: #F1F1F2;
	height: 100%;
	margin: 0;
}

.no-gutter [class*="col-"] {
    padding-left:0;
}

.navbar {
	font-size: 15px;
	height: 80px;
	padding-top: 15px;
	background-color: white;
}

.row {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.navbar-brand {
	width: 100%;
	height:auto;
	z-index: 1;
}

#title {
	font-size: 23px;
	font-color: #FBC370;
}

.space > li {
	margin-right: 13px;
}

#map {
	height: 300px;
	width: 100%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

#formDiv {
	margin: 0 auto;
	width: 95%;
}

#formDiv input {
	width: 80%; 
	background: #FFFFFF;
	border: none;
	font-size: 36px;
	padding: 16px;
	margin-top: 30px;
	transition: background 2s, color 2s;
	text-align: center;
}

#formDiv input::-webkit-input-placeholder {
   text-align: center;
}

#formDiv input:focus {
	background: #fff;
	box-shadow: none;
	outline: none;
}


#heatmap {
	width: 80%;
	height:auto;
}

#weatherDiv {
	height: 300px;
	width: 100%;
	border: 2px solid #D1D2D4;
	margin: 0 auto;
}

#sliderDiv {
	height: 130px;
	width: 630px;
	margin: 0 auto;
	background-color: #6D6E70;
	display: table-cell;
	vertical-align: middle;
    text-align: center;
}

#slider {
	width: 85%;
	height: auto;
	display: inline-block;
}

.ui-slider-horizontal .ui-state-default {
	background: white url(../img/handle.png) no-repeat scroll 50% 50%;
	width: 30px;
	border: none;

}