<!doctype html>
<html ng-app="Facemelt">
	<head>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700' \>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
		<link rel="stylesheet" href="css\angularjs-datetime-picker.css" />
		<link rel="stylesheet" href="css\rzslider.css"/>
		<link rel="stylesheet" href="css\style.css" >

		
		<title>Facemelt</title>
	</head>

	<body ng-controller="mainController">

	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{name}}<span class="sr-only">(current)</span></a></li>  
      </ul>
      <ul class="nav navbar-nav navbar-right space">
        <li id="chromeExt"><a href="https://chrome.google.com/webstore/detail/facemelt/bdcdmjeejabikmpffijanfcpimfpefof">Get Chrome Extension</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contacts">Contacts</a></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

		<div class="container-fluid">

			<div class="row">

				<div class="col-xs-6 col-md-4">

					<div id="formDiv">

							<div class="row" >

								<div class="col-xs-12 col-md-12">
									<input id="origin" type="text" ng-model="origin" placeholder="origin">
								</div>

							</div>
									
							<div class="row" >

								<div class="col-xs-12 col-md-12">
									<input id="destination" type="text" ng-model="destination" placeholder="destination">
								</div>

							</div>


							<div class="row" id="departureTime">
								<div class="col-xs-12 col-md-12">
									<input id="datetime" datetime-picker ng-model="datetime" placeholder="departure time"/>
			                	</div>
			                </div>


					</div>

						 	<rzslider id="slider"
						         rz-slider-model="slider.value"
						         rz-slider-options="slider.options">	         	
					     	</rzslider>


				</div>

				<div class="col-xs-6 col-md-4">

					<div class="center" id="heatmapDiv">
						<h1>Heatmap</h1>
						<img id="heatmap" src="img\car-overlay.png">
					</div>

				</div>

				<div class="col-xs-6 col-md-4">

					<div id="weatherDiv">

						<h1 class="center">Weather</h1>

					</div>

					  <div id="map" style="height:500px;width:500px"></div>


				    
				
			</div>

			<div class="row" id="about">
				
			</div>

		</div>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
		<script src="js/core.js"></script>
		<script src="js/rzslider.js"></script>
 		<script src="js/angularjs-datetime-picker.js"></script>
 		<script>console.log(window.mapInit);</script>
 		 <script
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFx9fMY4Xe229rKWoVJKh62jzQsUUeRUo">
    </script>

	</body>

</html>